@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body{
    background-image: url(https://images.pexels.com/photos/40547/fair-fairground-ferris-wheel-carousel-40547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
div {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    border-radius: 25px;
    color: white;
    backdrop-filter: blur(4px);
}
header{
    font-family: 'Nunito Sans', sans-serif;
}
#first{
    color: rgb(247, 80, 19);
    font-size: 36px;
    float: left;
    text-transform: uppercase;
    margin-right: 200px;
}
nav a{
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    text-align: inherit;
    margin: 10px;
    padding: 5px;
}
.active{
    border-bottom: solid orangered 3px;
    
}
button{
    background-color: rgb(255, 102, 0);
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: thin;
}
#second{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 52px;
    display: block;
    height: 65px;
}
#third{
    font-family: 'Merienda One', cursive;
    font-size: 52px;
    height: 65px;
    display: inline-block;
    color: rgb(247, 80, 19);
}
#fourth{
    font-size: 25px;
    width: 45%;
    margin: 0;
}
#events{
    font-size: 24px;
    display: inline;
    margin: 450px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.event{
    font-size: 20px;
    border-radius: 8px;
    display: block;
    background: rgba(0, 0, 0, 0.445);
    float: right;
    width: 170px;
}
